<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name=".Puspa"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PuspaMobile">
        <activity
            android:name=".ui.submenu.report.ReportActivity"
            android:exported="false" />
        <activity
            android:name=".ui.submenu.managechild.action.UpdateChildActivity"
            android:exported="false" />
        <activity
            android:name=".ui.submenu.managechild.action.AddChildActivity"
            android:exported="false" />
        <activity
            android:name=".ui.submenu.managechild.ChildActivity"
            android:exported="false" />
        <activity
            android:name=".ui.submenu.editprofile.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.GmailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.forgotpassword.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.forgotpassword.ResetPasswordActivity"
            android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Ganti host dengan domain web terbaru-->
                <data
                    android:host="puspa.sinus.ac.id"
                    android:pathPrefix="/auth/reset-password"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.auth.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.BoardingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.error.GeneralError"
            android:exported="false" />
        <activity
            android:name=".ui.error.NoInternet"
            android:exported="false" />
        <activity
            android:name=".ui.Splash"
            android:exported="true"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>